*{
    background-color: skyblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tab{
    width: 80%;
    height: 80%;
    border: 2px solid green;
    position: fixed;
    left: 10%;
    top: 10%;
}
.tabHead{
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #000;
}
.tabBody{
    width: 100%;
    height: 90%;
    background-color: #fff;
}
ul{
    width: 100%;
    list-style: none;
    display: flex;
}
.add{
    position: relative;
    right: 10px;
    top: 10px;
    border-left: 1px solid #000;
    width: 30px;
    height: 30px;
    padding: 5px 8px;
    background-color: red;
}
li>span{
    display: block;
    width: auto;
    height: calc(100% + 1px);
    padding: 2px 15px 2px;
    border-right: 1px solid #000;
    line-height: 300%;
}
.liActive>span{
    border-bottom: 0;
    background-color: #fff;
}
.liDisactive>span{
    border-bottom: 1px solid #000;
    background-color: pink;
}
.secActive{
    display: block;
    background-color: #fff;
}
.secDisactive{
    display: none;
    background-color: #fff;
}
li{
    position: relative;
}
.close{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #333;
    border-radius: 0 0 100%;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 0.5px;
}
section{
    position: relative;
    left: 5%;
    top: 5%;
    display: block;
    width: 90%;
    height: 90%;
    border: 5px purple solid;
    border-radius: 6px;
    font-size: 30px;
}
input{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: red;
}
